.homepage_wrapper {
  width: 100%;
  height:100%;
  background-color: #2a2c3c;
  .homepage_layout {
    width: 100%;
    height: 100%;
  }
  .homepage_sider {
    height: 100%;
    background-color: #242735;
    .homepage_sider_logo {
      width: 100%;
      height: 64px;
      font-size: 20px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .homepage_sider_menu {
      background-color: #242735;
      border: none;
      color: #a7a69c;
      li:hover {
        color: #fff;
      }
    }
  }
  .homepage_header {
    background-color: #303546;
    color: #fff;
    font-size: 24px;
    .homepage_header_user {
      min-width: 70px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      float: right;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .homepage_content {
    background-color: #2a2c3c;
  }
}
